* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  /* border: 1px solid red; */
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
}

.angle-Left {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.cont {
  /* border: 1px solid green; */
  width: 20%;
  display: flex;
  justify-content:right;
  gap: 1rem;
}